{% extends "qa/base.html" %}

{% block primary_content %}
  <h1>{% trans %}Quality Assurance{% endtrans %}</h1>
  <ul class="unstyled">
    <li>{{h.link_to(_("Dataset openness scores"), h.url_for(controller='ckanext.qa.controller:QAController', action='five_stars'))}}</li>
    <li>{{h.link_to(_("Datasets with broken resource links"), h.url_for(controller='ckanext.qa.controller:QAController', action='dataset_broken_resource_links'))}}</li>
    {% if c.organisations %}
      <li>{{h.link_to(_("Organisations whose datasets contain broken resource links"), h.url_for(controller='ckanext.qa.controller:QAController', action='broken_resource_links'))}}</li>
    {% endif %}
  </ul>
{% endblock %}
