{% extends "qa/base.html" %}

{% block primary_content %}
  <h1>{% trans %}Quality Assurance{% endtrans %}</h1>

  <h3>{% trans %}Organizations who have published datasets with broken resource links{% endtrans %}.</h3>
  <ul class="unstyled">
    <li>{{ h.link_to(_('Report of all broken links by organisation in CSV format'), h.url_for(controller='ckanext.qa.controller:QAController', action='organisations_with_broken_resource_links', format='csv', id='all')) }}</li>
  </ul>
  <table class="qa-table table table-striped table-bordered table-condensed">
    <tr>
        <th class="qa-table-name">{% trans %}Organization name{% endtrans %}</th>
    </tr>
    {% for organisation_title, organisation_id in c.organisations %}
      <tr>
        <td>{{ h.link_to(organisation_title, h.url_for(controller='ckanext.qa.controller:QAController', action='broken_resource_links', id=organisation_id)) }}</td>
      </tr>
    {% endfor %}
  </table>

  {% if not c.organisations %}
    <p>{% trans %}No organizations that have published datasets with broken resource links found{% endtrans %}.</p>
  {% endif %}
{% endblock %}
