{#
Renders a module for display in the site sidebar containing the rating for the
provided dataset and some info about how the stars work.

stars  - The number of stars assigned to the current dataset.
reason - A reason, if any, why the dataset has no rating.

Example:

    {% snippet "qa/snippets/stars_module.html", stars=3 %}

#}
{% set captions = [
_('Available under an open license.'),
_('Available as structured data (eg. Excel instead of a scanned table).'),
_('Uses non-proprietary formats (e.g., CSV instead of Excel).'),
_('Uses URIs to identify things, so that people can link to it.'),
_('Linked to other data to provide context.')
] %}
<section class="module-ratings module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Resource Quality') }}</h2>
    <p class="module-content">
        {% for caption in captions %}
        {% if stars == loop.index %}
        <span title="{{ stars }}: {{ caption }}"> {{ _('Rating') }}:</span>{{ h.qa_stars_rating(stars, reason) }}
        {% endif %}
        {% endfor %}
        {% if stars == 0 %}
        <span title="None: Not obtainable "> {{ _('Rating') }}:</span>{{ h.qa_stars_rating(stars, reason) }}
        {% endif %}
    </p>
    <p class="rating-info-toggle module-content module-border-top"><a href="#" data-toggle="ratings" data-target=".rating-info-wrapper" data-hide-text="{{ _('Hide rating info') }}">{{ _('About these ratings…') }}</a></p>
    <div class="rating-info-wrapper js-hide module-border-top">
        {{ h.qa_stars_info(stars) }}
    </div>
</section>
