{#
Renders a list explaining each level of the rating system. Applies a class to
all items that the current dataset does not meet so they can be styled
accordingly.

stars - The number of stars assigned to the current dataset.

Example:

    {% snippet "qa/snippets/stars_info.html", stars=3 %}

#}

<ul class="simple-list rating-info unstyled">
  {% for caption in h.qa_captions() %}
  <li{% if stars < loop.index %} class="fail"{% endif %}><span>{{ ('&#9733;' * loop.index) | safe }}</span> {{ caption }}</li>
  {% endfor %}
</ul>
